head
    meta(charset="utf8")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="/public/css/main.css")
    link(rel="shortcut icon" href="/public/img/favicon.png")
    link(rel="canonical" href="https://anastasiabelyaeva.com")
    title
        | Anastasia Belyaeva

    meta(property="og:image" content="https://anastasiabelyaeva.com/img/share.png")
    meta(name="twitter:image" content="https://anastasiabelyaeva.com/img/share.png")

    meta(property="og:site_name" content="Anastasia Belyaeva")