html
    include ./inc/head.pug

body
    div.layout(data-component="TimedMenu,Gallery,About")
        div.layout__holder
            div.layout__side
                div.layout__promo
                    h1.layout__title.js-content-slider__reset.js-timed-menu__close
                        | Anastasia Belyaeva

                    div.menu.layout__menu
                        each rubric in rubrics
                            a.menu__item.js-timed-menu__item(href="#")
                                = rubric.name
                                div.menu__progress
                                    div.menu__bar.js-timed-menu__progress

                    div.layout__preview-box
                        div.layout__previews
                            each rubric in rubrics
                                div.layout__previews-section.js-timed-menu__section
                                    each post in rubric.previews
                                        a.layout__preview.preview.js-gallery__preview(
                                            href="#"
                                            data-post=post
                                        )
                                            if post.soon
                                                div.preview__badge
                                                    | Coming soon
                                            div.preview__img(style="background-image: url(" + post.previewSmall + ")")
                                            div.preview__action
                                                i.material-icons
                                                    - if (post.media[0].includes('vimeo.com'))
                                                      | play_arrow
                                                    - else
                                                      | search

                        div.layout__more
                            a.link.js-timed-menu__more(href="#")
                                | More

                div.layout__about
                    p
                        | “Each moment you are in a certain state. There is no such moment when you aren’t. Draw your attention to the state that you experience at the moment. Or mood. Or sensation. Or emotion. Can you associate your current self with a specific emotion/sensation/state of mind. Observe it. Now find a way how you can move keeping your attention there, don’t think of a movement, do not design it in your head, don’t think of a next step. The only thing that you need to be busy with is constant observation of your state/sensation/emotion. With time it might change and shift to another one, which is okay. Just continue to observe what’s new going on. Look inwards”
                    p
                        | Drawing attention to an instrument and by practicing concentration we reach our emotions directly. Awareness allows space for intuitive control. This space offers a huge playground for creativity and also for zeroing out, self purification. This is a huge resource for me.
                    div.layout__back.js-about__close
                        i.layout__back-icon.material-icons
                            | arrow_back

                        | Back

            div.layout__content
                div.layout__controls
                    a.layout__control.js-content-slider__control-prev.js-timed-menu__slider-prev(href="#")
                        i.layout__control-icon.material-icons
                            | arrow_upward
                    a.layout__control.js-content-slider__control-next.js-timed-menu__slider-next(href="#")
                        i.layout__control-icon.material-icons
                            | arrow_downward

                div.layout__wrapper
                    div.layout__img
                    div.layout__changer
                    div.layout__changer.layout__changer_secondary
                    div.layout__changer.layout__changer_tertiary
                        div.layout__inner
                            each rubric in rubrics
                                div.layout__content-type.js-timed-menu__content-type.js-content-slider
                                    div.content-slider.js-content-slider__scroll
                                        div.content-slider__back.js-timed-menu__close
                                            i.content-slider__back-icon.material-icons
                                                | arrow_back

                                            | Back

                                        each slide in rubric.slides
                                            div(class="content-slider__slide content-slider__slide_" + slide.type + " js-content-slider__item")
                                                div.content-slider__wrapper
                                                    each post in slide.posts
                                                        div.content-slider__item.js-gallery__preview(
                                                            data-post=post
                                                        )
                                                            div.content-slider__holder
                                                                div.content-slider__inner(style="background-image: url(" + post.preview + ")")
                                                                    div.content-slider__action
                                                                        i.material-icons
                                                                            - if (post.media[0].includes('vimeo.com'))
                                                                              | play_arrow
                                                                            - else
                                                                              | search

                                                                    div.content-slider__info
                                                                        if post.soon
                                                                            div.content-slider__badge
                                                                                | Coming soon

                                                                        div.content-slider__title
                                                                            = post.title
                                                                        div.content-slider__description
                                                                            = post.description

            div.layout__copy
                | © 2020 Anastasia Belyaeva

            div.layout__shares
                a.layout__share(href="https://www.instagram.com/stacie_koch/" target="_blank")
                    | Instagram

                a.layout__share(href="https://www.facebook.com/blv.anastasia" target="_blank")
                    | Facebook

                a.layout__share(href="mailto:blvt.anastasia@gmail.com" target="_blank")
                    | Email

                a.layout__share.js-about__open(href="#" target="_blank")
                    | About

            div.viewer.js-gallery__viewer
                div.viewer__overlay.js-gallery__close

                button.viewer__close.js-gallery__close
                    i.viewer__close-icon.material-icons
                        | close

                div.viewer__inner
                    div.viewer__action.js-gallery__action
                        div.viewer__action-button.js-gallery__action-button
                            i.material-icons
                                | subject

                            span.viewer__action-button-text
                                | Read more

                        div.viewer__action-container.js-gallery__info

                    div.viewer__control.viewer__control_prev.material-icons.js-gallery__prev
                        | arrow_back
                    div.viewer__control.viewer__control_next.material-icons.js-gallery__next
                        | arrow_forward

                    div.viewer__media
                        div.viewer__container.js-gallery__media

    include ./inc/footer.pug
