html
    include ./inc/head.pug

body
    div.layout(data-component="TimedMenu,ContentSlider,Gallery")
        div.layout__side
            h1.layout__title.js-content-slider__reset.js-timed-menu__close
                | Anastasia Belyaeva

            div.menu.layout__menu
                a.menu__item.js-timed-menu__item(href="#")
                    | Dancer
                    div.menu__progress
                        div.menu__bar.js-timed-menu__progress

                a.menu__item.js-timed-menu__item(href="#")
                    | Choreographer
                    div.menu__progress
                        div.menu__bar.js-timed-menu__progress

                a.menu__item.js-timed-menu__item(href="#")
                    | Model
                    div.menu__progress
                        div.menu__bar.js-timed-menu__progress

            div.layout__preview-box
                div.layout__previews
                    div.layout__previews-section.js-timed-menu__section
                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529607008248-3fb790e6bb8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=586990b0654add53b18c4c333ebe329e&auto=format&fit=crop&w=2100&q=80)")
                            div.preview__action
                                i.material-icons
                                    | play_arrow

                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529607008248-3fb790e6bb8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=586990b0654add53b18c4c333ebe329e&auto=format&fit=crop&w=2100&q=80)")
                            div.preview__action
                                i.material-icons
                                    | search

                    div.layout__previews-section.js-timed-menu__section
                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529787915532-1bb524c4ca0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=144d9500d5a14bc918acf2ac41d84887&auto=format&fit=crop&w=2060&q=80)")
                            div.preview__action
                                i.material-icons
                                    | play_arrow

                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529787915532-1bb524c4ca0d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=144d9500d5a14bc918acf2ac41d84887&auto=format&fit=crop&w=2060&q=80)")
                            div.preview__action
                                i.material-icons
                                    | search

                    div.layout__previews-section.js-timed-menu__section
                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529607008248-3fb790e6bb8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=586990b0654add53b18c4c333ebe329e&auto=format&fit=crop&w=2100&q=80)")
                            div.preview__action
                                i.material-icons
                                    | play_arrow

                        a.layout__preview.preview.js-gallery__preview(href="#")
                            div.preview__img(style="background-image: url(https://images.unsplash.com/photo-1529607008248-3fb790e6bb8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=586990b0654add53b18c4c333ebe329e&auto=format&fit=crop&w=2100&q=80)")
                            div.preview__action
                                i.material-icons
                                    | search

                div.layout__more
                    a.link.js-timed-menu__more(href="#")
                        | More

        div.layout__content
            div.layout__controls
                a.layout__control.js-content-slider__control(href="#" data-direction="prev")
                    i.layout__control-icon.material-icons
                        | arrow_upward
                a.layout__control.js-content-slider__control(href="#" data-direction="next")
                    i.layout__control-icon.material-icons
                        | arrow_downward

            div.layout__wrapper
                div.layout__img
                div.layout__changer
                div.layout__changer.layout__changer_secondary
                div.layout__changer.layout__changer_tertiary
                    div.layout__inner
                        div.layout__content-type.layout__content-type_active
                            div.content-slider.js-content-slider__scroll
                                div.content-slider__slide.content-slider__slide_single.js-content-slider__item
                                    div.content-slider__wrapper
                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                div.content-slider__slide.content-slider__slide_single.js-content-slider__item
                                    div.content-slider__wrapper
                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                div.content-slider__slide.content-slider__slide_half-vertical.js-content-slider__item
                                    div.content-slider__wrapper
                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                div.content-slider__slide.content-slider__slide_half-horizontal.js-content-slider__item
                                    div.content-slider__wrapper
                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                div.content-slider__slide.content-slider__slide_quarter.js-content-slider__item
                                    div.content-slider__wrapper
                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                                        div.content-slider__item
                                            div.content-slider__holder
                                                div.content-slider__inner(style="background-image: url(../img/starring.jpg)")
                                                    div.content-slider__action
                                                        i.material-icons
                                                            | play_arrow
                                                    div.content-slider__info
                                                        div.content-slider__title
                                                            | Starring
                                                        div.content-slider__description
                                                            | Starring represents the astronomy as well as the fellow females in the lives of women.

        div.layout__shares
            a.layout__share(href="#")
                | Instagram

            a.layout__share(href="#")
                | Facebook

            a.layout__share(href="#")
                | Email

            a.layout__share(href="#")
                | CV

        div.viewer.js-gallery__viewer
            div.viewer__overlay.js-gallery__close

            div.viewer__inner
                div.viewer__action.js-gallery__action
                    div.viewer__action-button.js-gallery__action-button
                        i.material-icons
                            | subject

                    div.viewer__action-container
                        div.viewer__action-title
                            | Starring
                        div.viewer__action-text
                            | Starring represents the astronomy as well as the fellow females in the lives of women.

                div.viewer__prev.material-icons
                    | arrow_back
                div.viewer__next.material-icons
                    | arrow_forward

                div.viewer__media
                    img.viewer__src(src="../img/starring.jpg")
                    //iframe(src="https://player.vimeo.com/video/251643698?autoplay=1&muted=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
    include ./inc/footer.pug
