body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333; }

h1 {
  margin: 0; }

.layout {
  padding: 20px;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  min-height: 700px;
  overflow: hidden; }
  .layout__side {
    width: 40%;
    padding-left: 60px;
    box-sizing: border-box;
    position: relative;
    z-index: 2; }
  .layout__title {
    font-size: 50px;
    font-weight: 700; }
  .layout__content {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 1; }
  .layout__content-type {
    display: none; }
    .layout__content-type_active {
      display: block; }
  .layout__wrapper {
    height: 100%;
    border-radius: 4px;
    overflow: hidden; }
  .layout__controls {
    position: absolute;
    left: -48px;
    top: 0;
    transform: translateX(40px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 0;
    opacity: 0;
    visibility: hidden; }
  .layout__control {
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .layout__control:first-child {
      margin-top: 0; }
    .layout__control:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      background: #f3f3f3;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease-in-out; }
    .layout__control:hover:after {
      transform: translate(-50%, -50%) scale(1); }
  .layout__control-icon {
    font-size: 24px;
    color: #333;
    position: relative;
    z-index: 1; }
  .layout__img {
    width: 100%;
    height: 100%;
    background: #2f2f2f url("../img/main.jpg") no-repeat 50%;
    background-size: cover; }
  .layout__changer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    transition-delay: 0.5s;
    z-index: 5;
    background: #2f2f2f; }
    .layout__changer_secondary {
      background: #7f8c8d;
      transition-delay: 0.3s;
      z-index: 10; }
    .layout__changer_tertiary {
      background: #fff;
      transition-delay: 0s;
      z-index: 15;
      overflow: hidden; }
  .layout__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    transition-delay: 0s;
    z-index: 15; }
  .layout__menu {
    margin-top: 50px; }
  .layout__previews {
    margin-top: 40px;
    white-space: nowrap;
    position: relative; }
  .layout__previews-section {
    position: absolute;
    top: 0; }
    .layout__previews-section_active .layout__preview {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      transition-duration: 0.8s;
      transition-delay: 0s;
      z-index: 5; }
    .layout__previews-section_active .layout__preview:nth-child(2) {
      transition-delay: 0.2s; }
    .layout__previews-section:first-child {
      position: relative; }
  .layout__preview {
    margin-right: 40px;
    position: relative;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
    transition: 0s ease-in-out;
    transition-delay: 1s;
    transition-property: visibility, opacity, transform; }
  .layout__more {
    margin-top: 20px; }
  .layout__shares {
    position: absolute;
    top: 20px;
    left: 80px; }
  .layout__share {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    position: relative;
    margin-right: 20px; }
    .layout__share:after {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 3px;
      background: #333;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
      transform-origin: 0 50%; }
    .layout__share:hover:after {
      transform: scale(1); }
  .layout__preview-box {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .layout_active .layout__title {
    cursor: pointer; }
  .layout_active .layout__changer {
    transform: translateX(0);
    transition-delay: 0s; }
    .layout_active .layout__changer_secondary {
      transition-delay: 0.3s; }
    .layout_active .layout__changer_tertiary {
      transition-delay: 0.5s; }
  .layout_active .layout__inner {
    transition-delay: 0.5s; }
  .layout_active .layout__preview-box {
    pointer-events: none;
    opacity: 0;
    transform: translateX(-40px); }
  .layout_active .layout__inner {
    transform: translateX(0); }
  .layout_active .layout__controls {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; }
  .layout_active .menu__progress,
  .layout_active .menu__item_active .menu__progress {
    opacity: 0; }

.menu__item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  position: relative; }
  .menu__item:first-child {
    margin-left: 0; }
  .menu__item_active .menu__progress {
    opacity: 1; }
  .menu__item_active .menu__bar {
    transition: width 5s linear; }
  .menu__item:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -10px;
    height: 3px;
    background: #333;
    left: 0;
    opacity: 0;
    transition: opacity 0.15s ease-in-out; }
  .menu__item_selected:after {
    opacity: 1; }

.menu__progress {
  position: absolute;
  width: 100%;
  bottom: -10px;
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out; }

.menu__bar {
  height: 100%;
  width: 0;
  background: #333; }

.preview {
  display: inline-block;
  vertical-align: top;
  background: #2f2f2f;
  height: 240px;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  position: relative; }
  .preview:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.32);
    transition: background 0.2s ease-in-out; }
  .preview__img {
    width: 100%;
    height: 100%;
    background: 50% no-repeat;
    background-size: cover; }
  .preview__action {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 3;
    color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: translate(-50%, -50%); }
  .preview:hover:before {
    background: rgba(0, 0, 0, 0.24); }

.link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative; }
  .link:before {
    content: '';
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    background: #333;
    margin-right: 10px;
    transition: width 0.2s ease-in-out;
    position: relative;
    top: -2px; }
  .link:hover:before {
    width: 30px; }

.content-slider {
  width: 100%;
  height: calc(100% + 20px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-right: -30px;
  padding-right: 30px; }
  .content-slider__slide {
    height: 100%;
    margin-left: -20px; }
    .content-slider__slide_half-vertical .content-slider__item {
      width: 50%; }
    .content-slider__slide_half-horizontal {
      flex-flow: column wrap; }
      .content-slider__slide_half-horizontal .content-slider__item {
        height: 50%; }
    .content-slider__slide_quarter .content-slider__item {
      width: 50%;
      height: 50%; }
  .content-slider__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap; }
  .content-slider__item {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px; }
  .content-slider__inner {
    width: 100%;
    height: 100%;
    background: #2f2f2f 50% no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer; }
    .content-slider__inner:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.48);
      transition: background 0.2s ease-in-out; }
    .content-slider__inner:hover:before {
      background: rgba(0, 0, 0, 0.32); }
  .content-slider__action {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 3;
    color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: translate(-50%, -50%); }
  .content-slider__info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-top: 20px;
    color: #fff;
    z-index: 5; }
  .content-slider__title {
    font-weight: 700;
    font-size: 36px; }
  .content-slider__description {
    margin-top: 12px; }

.viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .viewer__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    user-select: none;
    z-index: 5; }
  .viewer__media {
    padding: 80px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .viewer__src {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 10; }
  .viewer__prev, .viewer__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    display: none;
    z-index: 10; }
  .viewer__prev {
    left: 20px; }
  .viewer__next {
    right: 20px; }
  .viewer__action {
    right: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 10; }
    .viewer__action_active .viewer__action-container {
      transform: translateY(-12px) scale(1);
      opacity: 1; }
  .viewer__action-container {
    border-radius: 4px;
    position: absolute;
    bottom: 100%;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    right: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateY(-4px) scale(0);
    opacity: 0;
    transform-origin: 100% 100%;
    width: 400px; }
  .viewer__action-title {
    font-weight: 700;
    font-size: 20px; }
  .viewer__action-text {
    margin-top: 8px; }
  .viewer__action-button {
    width: 52px;
    height: 52px;
    color: #fff;
    background: #212121;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid #555;
    user-select: none; }
    .viewer__action-button:hover {
      background: #333333; }
  .viewer_active {
    opacity: 1;
    visibility: visible; }
