body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.layout {
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &__holder {
    height: 100%;
    width: 100%;
    min-height: 650px;
    display: flex;
    max-width: 2000px;
    position: relative;
    margin: 0 auto;
    align-items: center;
  }

  &__side {
    width: 40%;
    max-width: 40%;
    padding-left: 60px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    padding-right: 20px;
  }

  &__content {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__content-type {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &_active {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
  }

  &__wrapper {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  &__controls {
    position: absolute;
    left: -48px;
    top: 0;
    transform: translateX(40px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__control {
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-top: 0;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      background: #f3f3f3;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover:after {
      transform: translate(-50%, -50%) scale(1);
    }

    &_hidden {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__control-icon {
    font-size: 24px;
    color: #333;
    position: relative;
    z-index: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    background: #2f2f2f url('/public/img/main.jpg') no-repeat 50%;
    background-size: cover;
  }

  &__changer {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    transition-delay: 0.5s;
    z-index: 5;
    background: #2f2f2f;

    &_secondary {
      background: #7f8c8d;
      transition-delay: 0.3s;
      z-index: 10;
    }

    &_tertiary {
      background: #fff;
      transition-delay: 0s;
      z-index: 15;
      overflow: hidden;
    }
  }

  &__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    transition-delay: 0s;
    z-index: 15;
  }

  &__menu {
    margin-top: 50px;
  }

  &__previews {
    margin-top: 40px;
    white-space: nowrap;
    position: relative;
  }

  &__previews-section {
    position: absolute;
    top: 0;

    &_active {
      & .layout__preview {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition-duration: 0.8s;
        transition-delay: 0s;
        z-index: 5;
      }

      & .layout__preview:nth-child(2) {
        transition-delay: 0.2s;
      }
    }

    &:first-child {
      position: relative;
    }
  }

  &__preview {
    margin-right: 40px;
    position: relative;
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
    transition: 0s ease-in-out;
    transition-delay: 1s;
    transition-property: visibility, opacity, transform;
  }

  &__more {
    margin-top: 20px;
  }

  &__shares {
    position: absolute;
    top: 0;
    left: 60px;
  }

  &__share {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    position: relative;
    margin-right: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      height: 3px;
      background: #333;
      left: 0;
      width: 100%;
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
      transform-origin: 0 50%;
    }

    &:hover:after {
      transform: scale(1);
    }
  }

  &__preview-box {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &_active {
    & .layout__title {
      cursor: pointer;
    }

    & .layout__changer {
      transform: translateX(0);
      transition-delay: 0s;

      &_secondary {
        transition-delay: 0.3s;
      }

      &_tertiary {
        transition-delay: 0.5s;
      }
    }

    & .layout__inner {
      transition-delay: 0.5s;
    }

    & .layout__preview-box {
      pointer-events: none;
      opacity: 0;
      transform: translateX(-40px);
    }

    & .layout__inner {
      transform: translateX(0);
    }

    & .layout__controls {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    & .menu__progress,
    & .menu__item_active .menu__progress {
      opacity: 0;
    }
  }
}

.menu {
  &__item {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &_active {
      .menu__progress {
        opacity: 1;
      }

      .menu__bar {
        transition: width 5s linear;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -10px;
      height: 3px;
      background: #333;
      left: 0;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    &_selected:after {
      opacity: 1;
    }
  }

  &__progress {
    position: absolute;
    width: 100%;
    bottom: -10px;
    height: 3px;
    background: rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &__bar {
    height: 100%;
    width: 0;
    background: #333;
  }
}

.preview {
  display: inline-block;
  vertical-align: top;
  background: #2f2f2f;
  height: 240px;
  width: 320px;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.32);
    transition: background 0.2s ease-in-out;
  }

  &__img {
    width: 100%;
    height: 100%;
    background: 50% no-repeat;
    background-size: cover;
  }

  &__action {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 3;
    color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  &__badge {
    position: absolute;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 2px;
    font-weight: 700;
    font-size: 10px;
    padding: 4px;
    left: 12px;
    top: 12px;
    color: #fff;
  }

  &:hover:before {
    background: rgba(0, 0, 0, 0.24);
  }
}

.link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative;

  &:before {
    content: '';
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    background: #333;
    margin-right: 10px;
    transition: width 0.2s ease-in-out;
    position: relative;
    top: -2px;
  }

  &:hover:before {
    width: 30px;
  }
}

.content-slider {
  width: 100%;
  height: calc(100% + 20px);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  margin-right: -30px;
  padding-right: 30px;

  &__back {
    margin-bottom: 20px;
    display: none;
    cursor: pointer;
  }

  &__back-icon {
    margin-right: 8px;
    font-size: 18px;
  }

  &__slide {
    height: 100%;
    margin-left: -20px;

    &_half-vertical {
      .content-slider__item {
        width: 50%;
      }

      .content-slider__title {
        font-size: 28px;
      }
    }

    &_half-horizontal {
      flex-flow: column wrap;

      & .content-slider__item {
        height: 50%;
      }

      .content-slider__title {
        font-size: 28px;
      }
    }

    &_quarter {
      .content-slider__item {
        width: 50%;
        height: 50%;
      }

      .content-slider__title {
        font-size: 28px;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  &__inner {
    width: 100%;
    height: 100%;
    background: #2f2f2f 50% no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
      transition: background 0.2s ease-in-out;
    }

    &:hover:before {
      background: rgba(0, 0, 0, 0.16);
    }
  }

  &__action {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 3;
    color: #fff;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: translate(-50%, -50%);
  }

  &__badge {
    margin-bottom: 12px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 12px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    opacity: 0.85;
  }

  &__info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin-top: 20px;
    color: #fff;
    z-index: 5;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
  }

  &__description {
    margin-top: 12px;
    line-height: 24px;

    &:empty {
      margin-top: 0;
    }
  }
}

.viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &__badge {
    position: absolute;
    z-index: 20;
    bottom: 12px;
    margin-left: 12px;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.36);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 12px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    opacity: 0.85;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    user-select: none;
    z-index: 5;
  }

  &__close {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    padding: 20px;
    background: none;
    border: none;
    z-index: 6;
    cursor: pointer;
    outline: none;
  }

  &__close-icon {
    font-size: 36px;
  }

  &__media {
    padding: 80px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 30;
    pointer-events: none;
  }

  &__slide {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    &_active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);

      .viewer__src {
        pointer-events: all;
      }

      iframe {
        pointer-events: all;
      }
    }
  }

  &__src {
    max-width: 100%;
    max-height: 100%;
  }

  &__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    display: block;
    z-index: 10;
    user-select: none;

    &_hidden {
      opacity: 0 !important;
      cursor: default;
    }
  }

  &__control_prev {
    left: 20px;
  }

  &__control_next {
    right: 20px;
  }

  &__action {
    left: 20px;
    bottom: 20px;
    position: absolute;
    z-index: 50;

    &_active .viewer__action-container {
      transform: translateY(-12px) scale(1);
      opacity: 1;
    }
  }

  &__action-container {
    border-radius: 4px;
    position: absolute;
    bottom: 100%;
    background: #fff;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    padding: 20px;
    left: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateY(-4px) scale(0);
    opacity: 0;
    transform-origin: 0 100%;
    width: 400px;
  }

  &__action-title {
    font-weight: 700;
    font-size: 20px;
  }

  &__action-text {
    margin-top: 8px;
  }

  &__action-button {
    height: 52px;
    padding: 0 16px;
    color: #fff;
    background: #212121;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid #555;
    user-select: none;

    &_hidden {
      display: none;
    }

    &:hover {
      background: #333333;
    }
  }

  &__action-button-text {
    margin-left: 12px;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__video {
    position: relative;
    height: 100%;
    display: inline-block;
  }

  &__video-holder {
    height: 177%;
    pointer-events: none;
  }

  & iframe {
    height: 100%;
    width: 100%;
  }

  &_active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1200px) {
  .layout {

    &__holder {
      min-height: auto;
    }

    &__side {
      width: 100%;
      max-width: 100%;
    }

    &__content {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9000;
      width: auto;
      pointer-events: none;
    }

    &__img {
      opacity: 0;
    }

    &_active {
      .layout {
        &__holder {
          pointer-events: none;
        }

        &__content {
          pointer-events: all;
        }
      }
    }
  }

  .content-slider {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;

    &__back {
      display: flex;
      align-items: center;
    }
  }

  .viewer {
    pointer-events: all;
    z-index: 9100;

    &__media {
      padding: 80px 0;
    }

    &__badge {
      margin-left: 0;
      left: 20px;
      bottom: 0;
    }

    &__slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__control {
      font-size: 28px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__control_next {
      right: 20px;
      bottom: 0;
      top: auto;
    }

    &__control_prev {
      right: 65px;
      left: auto;
      bottom: 0;
      top: auto;
    }

    &__close-icon {
      font-size: 28px;
    }

    &__action-button {
      height: 40px;
      padding: 0 12px 0 8px;
      font-size: 13px;
    }
  }
}

// iPad
@media (max-width: 768px) {
  .layout__side {
    padding-left: 0;
  }

  .layout__shares {
    left: 0;
  }

  .layout__preview {
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  .layout__preview {
    display: none;

    &:first-child {
      display: block;
    }
  }
}

@media (max-width: 640px) {
  .layout__title {
    font-size: 40px;
  }

  .content-slider__slide {
    height: auto;
  }

  .content-slider__wrapper {
    height: auto;
  }

  .content-slider__slide_half-vertical .content-slider__item {
    height: 60%;
    width: 100%;
  }

  .content-slider__slide_quarter .content-slider__item {
    width: 100%;
  }

  .content-slider__slide_full .content-slider__item {
    width: 100%;
    height: 75%;
  }

  .content-slider__description {
    font-size: 13px;
    line-height: 18px;
  }
}

@media (max-width: 500px) {
  .layout__title {
    font-size: 30px;
  }

  .viewer__action-container {
    width: 300px;
  }

  .viewer__action-title {
    font-size: 16px;
  }

  .viewer__action-text {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .menu__item,
  .link {
    font-size: 14px;
  }

  .viewer__action-container {
    width: 240px;
  }

  .content-slider__title {
    font-size: 20px !important;
  }

  .preview {
    width: 280px;
    height: 200px;
  }
}

@media (max-width: 380px) and (max-height: 600px) {
  .content-slider__description {
    display: none;
  }
}
